* { 
  box-sizing: border-box; 
  margin:0; 
  padding:0; 
  max-width: 100%;
}
body { 
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; 
}

.nav-container {
  position: fixed;          /* stays at the top when scrolling */
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background: rgba(69, 69, 69, 0.9);   /* semi-transparent white */
}
.nav-container i{
  color: #DDDDDD;
  font-size: 16px;
}

.nav-bar {
  max-width: 1024px;         /* Apple centers content at 1024px */
  margin: 0 auto;
  padding: 0 22px;           /* horizontal padding matches Apple */
  height: 44px; 
  display: flex; 
  align-items: center;
  justify-content: space-between;            
  font-size: 14px;
  line-height: 1; 
   backdrop-filter: blur(5px); /* blurs the content behind the nav */
}
.nav-item{
  list-style: none;
  display: flex;
  gap: 28px;
}
 .nav-item li a{
  text-decoration: none;
  color: #DDDDDD;
  font-size: 13px;
}

.icon-bar{
  display: flex;
  gap: 20px;
}
.nav-bar i:hover{
  color: whitesmoke;

}
.nav-item li a:hover{
  color: white;
}

/*iphone17 pro container css*/

.iphone17-container{
  padding-top: 3em;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: black;
  color: whitesmoke;
  height: 99vh;
  width: 100%;
  font-size: 25px;
}

.iphone17-container img{
  width: 300px;
  height: 354px;
  padding-top: 3px
}
.iphone17-container h4{
  font-size: 22px;
  font-weight: 400;
}
.button-learn{
  padding-top: 20px;
  gap: 20px;
  display: flex;
}
button:first-child{
  font-weight: bold;
}
.button-learn > button:first-child {
  border-radius: 50px;
  height: 42px;
  width: 120px;
  background-color: #0071E3;
  color: #DDDDDD;
  border: none;
  cursor: pointer;
  font-weight: bold;
}
.button-learn > button:last-child {
  border-radius: 50px;
  height: 42px;
  width: 68px;
  background-color: black;
  border-color: blue;
  color: #DDDDDD;
  cursor: pointer;
}
.button-learn > button:last-child:hover{
  background-color: #0071E3;
  border: none;
  color: white;
}
.button-learn > button:first-child:hover{
  color: white;
}

/*iphone air container css*/

.iphone-air{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #F5F5F7;
  height: 569px;
  padding-top: 61px;
  font-size: 23px;
}
.iphone-air h1{
  padding-bottom: 10px;
}
.iphone-air img{
  width: 100vw;
  height: 70vh;
  padding-bottom: 4em;
}
.iphone-air h4{
  font-weight: 400;
  font-size: 22px;
}

.button-air {
  display: flex;
  gap: 20px;
  padding-top: 20px;
}
.button-air > button:first-child {
  border-radius: 50px;
  height: 42px;
  width: 120px;
  background-color: #0071E3;
  color:white;
  border: none;
  cursor: pointer;
}
.button-air > button:last-child {
  border-radius: 50px;
  height: 42px;
  width: 68px;
  border-color: blue;
  color: blue;
  cursor: pointer;
  border: 1px solid;
}
.button-air > button:last-child:hover{
  background-color: #0071E3;
  border: none;
  color: white;
}
.button-air > button:first-child:hover{
  color: white;
}

/*macbook-container css*/
.macbook-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 61px;
  margin-top: 10px;
  background-color: black;
  color: white;
  font-size: 23px;
  height: 579px;
  margin-bottom: 10px;
}
.macbook-container h4{
  font-weight: 400;
  font-size: 22px;
}
.img-macbook img{
width: 100%;
height: 380px;
padding-bottom: 50px;
}
.button-mac {
  display: flex;
  gap: 20px;
  padding-top: 20px;
}
.button-mac > button:first-child {
  border-radius: 50px;
  height: 42px;
  width: 120px;
  background-color: #0071E3;
  color: #DDDDDD;
  border: none;
  cursor: pointer;
}
.button-mac > button:last-child{
  border-radius: 50px;
  height: 42px;
  width: 70px;
  cursor: pointer;
  border-color: #0071E3;
  border: 1px solid;
  background-color: black;
  color: blue;
}
.button-mac > button:last-child:hover{
background-color: blue;
color: white;
 border: none;
}
.button-mac > button:first-child:hover{
  color: white;

}

/*watch and ipad css all*/
.watcd-ipad-container{
  display: flex;
  gap: 13px;
  justify-content: space-evenly;
  margin: 10px;
}
.airpods-container img{
  margin-top: 7em;
}
.macbook-air-container img{
  margin-top: 4em;
}
.watch-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 40px;
  background-color: #F5F5F7 ;
  width: 50%;
  height: 489px;
  font-size: 22px;
}
.watch-container img{
  height: 350px;
}
.watch-container p{
  font-size: 22px;

}
.watch-container i{
  padding-top: 2px;
}

.watch-heading{
  padding-bottom: 10px;
  font-size: larger;
  gap: 6px;
}
.watch-heading > span:first-of-type{
  font-weight: bold;
}
.button-watch{
display: flex;
gap: 20px;
padding-top: 20px;
}
.button-watch > button:first-child{
  border-radius: 50px;
  height: 42px;
  width: 120px;
  background-color: #0071E3;
  color: white;
  border: none;
  cursor: pointer;
}
.button-watch > button:last-child{
  border-radius: 50px;
  height: 42px;
  width: 70px;
  color: blue;
  border: 1px solid blue;
  cursor: pointer;
}
.button-watch > button:last-child:hover{
  background-color: #0071E3;
  color: white;
  border: none;
}
.watch-heading {
  display: flex;
}

/*iPad conatiner css*/
.ipad-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  background-color: black;
  color: white;
  width: 50%;
  height: 489px;
}
.ipad-container h1{
  padding-bottom: 10px;
  font-size: 30px;
}
.ipad-container h4{
  font-weight: 400;
  font-size: 22px;
}
.ipad-container img{
  width: 100%;
  height: 40vh;
}
.button-iPad{
  display: flex;
  gap: 20px;
  padding-top: 20px;
}
.button-iPad > button:first-child{
  border-radius: 50px;
  height: 42px;
  width: 120px;
  background-color: #0071E3;
  color: #DDDDDD;
  border: none;
  cursor: pointer;
}
.button-iPad > button:last-child{
   border-radius: 50px;
  height: 42px;
  width: 70px;
  color: blue;
  border: 1px solid blue;
  cursor: pointer;
  background-color: black;
}
.button-iPad > button:last-child:hover{
  background-color: #0071E3;
  color: white;
  border: none;
}
/*mac-airpods-container css*/
/*airpods pro css*/
.mac-airpods-container{
  display: flex;
  justify-content: space-around;
  margin: 10px;
  gap: 10px;
  
}
.airpods-container{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 40px;
  background-color:#F5F5F7;
  height: 579px;
  width: 742px;
}
.macbook-air-container{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 40px;
  background-color:#D5EBF6;
  color:black;
  height: 579px;
  width: 742px;
}
.mac-airpods-container h1{
  font-size: 30px;
  padding-bottom: 10px;
}
.mac-airpods-container h4{
  font-weight: 400;
  font-size: 22px;
}
.button-airpods{
  display: flex;
  gap: 20px;
  padding-top: 15px;
}
.button-airpods > button:first-child{
  border-radius: 50px;
  height: 42px;
  width: 120px;
  background-color: #0071E3;
  color: white;
  border: none;
  cursor: pointer;
}
.buy-btn-mac{
   border-radius: 50px;
  height: 42px;
  width: 70px;
  color: blue;
  border: 1px solid blue;
  cursor: pointer;
  background-color: #D5EBF6;
}
.buy-btn-mac:hover{
  background-color: #0071E3;
  color: white;
  border: none;
}

.airpod-btn{
  border-radius: 50px;
  height: 42px;
  width: 70px;
  color: blue;
  border: 1px solid blue;
  cursor: pointer;
}
.airpod-btn:hover{
  background-color: #0071E3;
  color: white;
  border: none;
}
/*css for trade in and card container*/
.container-trade-card{
  display: flex;
  gap: 10px;
  justify-content: space-around;
  margin: 10px;
}
.tradIn-container{
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 579px;
  width: 742px;
  background-color: #F5F5F7;
  padding-top: 60px;
  
}
.tradIn-container img{
  width: 620px;
  height: 340px;
}
.trade-in{
  display: flex;
  padding-bottom: 13px;
}
.container-trade-card i{
  font-size: 35px;
}

.tradIn-container button{
  margin-top: 20px;
  border-radius: 50px;
  height: 40px;
  width: 146px;
  background-color: #0071E3;
  border: none;
  color: white;
  font-weight: bold;
}
.tradIn-container button:hover{
  color: #DDDDDD;
}
.trade-in h3{
  font-size: 30px;
}

/*card container css to display flex*/
.card-container{
  padding-top: 60px;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 579px;
  width: 742px;
  background-color:#F5F5F7;
  
}

.card-con{
  display: flex;
  padding-bottom: 13px;
}
.container-trade-card h4{
  font-weight: 400;
  font-size: 22px;
}
.card-container button:first-child{
  margin-top: 20px;
  border-radius: 50px;
  height: 40px;
  width: 120px;
  background-color: #0071E3;
  border: none;
  color: white;
  font-weight: bold;
}
.card-container button:last-child{
  margin-top: 20px;
  border-radius: 50px;
  height: 40px;
  width: 120px;
  background-color: white;
  border-color: #0071E3;
  color:#0071E3;
}
.button-card{
  display: flex;
  gap: 13px;
}
.card-container button:first-child:hover{
  color: #DDDDDD;
}
.card-container button:last-child:hover{
  background-color: #0071E3;
  color: white;
  border: none;
}
.card-con p{
  font-weight: bold;
  font-size: 30px;
}

/*footer css*/



.apple-footer {
  width: 100%;
  background-color: #f5f5f7;
  padding: 40px 10%;
   padding-left: 200px;
   font-size: 15px;
 margin-top: 40px;
}

.footer-top {
  font-size: 14px;
  color: #6e6e73;
  margin-bottom: 30px;
}

.footer-top a {
  color: #0066cc;
  text-decoration: none;
}

.footer-top a:hover {
  text-decoration: underline;
}

.footer-links {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  gap: 20px;
  margin-bottom: 40px;
}

.footer-column h4 {
  font-size: 14px;
  color: #1d1d1f;
  margin-bottom: 10px;
  font-weight: 600;
}

.footer-column ul {
  list-style: none;
}

.footer-column ul li {
  margin-bottom: 6px;
}

.footer-column ul li a {
  color: #424245;
  text-decoration: none;
  font-size: 13px;
}

.footer-column ul li a:hover {
  text-decoration: underline;
  color: #000;
}

.footer-bottom {
  border-top: 1px solid #d2d2d7;
  padding-top: 20px;
  font-size: 13px;
  color: #6e6e73;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.footer-bottom ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.footer-bottom ul li a {
  color: #6e6e73;
  text-decoration: none;
}

.footer-bottom ul li a:hover {
  text-decoration: underline;
}

.region {
  color: #6e6e73;
  font-size: 13px;
}
.apple-footer p{
  font-size: 13px;
  padding-bottom: 10px;
  color: #8D8D8E;
}
.para-footer{
  margin-bottom: 20px;
}
.footer-margin{
    margin-left: 80px;
    margin-right: 80px;
}
.watch-container img{
  width: 90%;

}
.airpods-container img{
  width: 35%;
  padding-top: 30px;
}
.macbook-air-container img{
  width: 50%;
  padding-top: 30px;
}
.card-container img{
width: 600px;
height: 350px;
padding-bottom: 100px;
}
